/bin/

*.class

hospitalClient/bin/adminGUI/Default.class

*.class

*.class

*.class

*.class

*.class

hospitalClient/bin/person/Patient.class
*.xml
~$数据库表.docx
hospitalClient/src/function/Login.java
